# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

**Dataset Information:**
- **Dataset Name:** Women's Clothing E-Commerce Reviews
- **File:** `Womens Clothing E-Commerce Reviews.csv`
- **Source:** This dataset contains reviews written by customers and includes features like ratings, review text, product categories, and customer information.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [33]:
# Import pandas and any other libraries you need here.
import pandas as pd
import numpy as np

# Create a new dataframe from your CSV
df = pd.read_csv(r'C:\Users\ardie\LaunchCode\data-analysis-projects\cleaning-data-pandas-exercises-studio\exercises\Womens Clothing E-Commerce Reviews.csv')

In [34]:
# Print out any information you need to understand your dataframe
df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

## Missing Data

Try out different methods to locate and resolve missing data.

In [35]:
# Try to find some missing data!
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [36]:
df.isna().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

Did you find any missing data? What things worked well for you and what did not?

In [ ]:
# Respond to the above questions here:
#yes, with the df.isna().sum(), I found the number of missing values in each column

In [37]:
df['Title'].fillna('No Title', inplace=True)
df['Review Text'].fillna('No Review', inplace=True)
df['Division Name'].fillna('No Division', inplace=True)
df['Department Name'].fillna('No Dept.', inplace=True)
df['Class Name'].fillna('No Class Name', inplace=True)
df.isna().sum()

C:\Users\ardie\AppData\Local\Temp\ipykernel_37304\2700921020.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Title'].fillna('No Title', inplace=True)
C:\Users\ardie\AppData\Local\Temp\ipykernel_37304\2700921020.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review Text'].fillna('No Review', inplace=True)
C:\Users\ardie\AppData\Local\Temp\ipykernel_37304\2700921020.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Division Name'].fillna('No Division', inplace=True)
C:\Users\ardie\AppData\Local\Temp\ipykernel_37304\2700921020.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Department Name'].fillna('No Dept.', inplace=True)
C:\Users\ardie\AppData\Local\Temp\ipykernel_37304\2700921020.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Class Name'].fillna('No Class Name', inplace=True)

Unnamed: 0                 0
Clothing ID                0
Age                        0
Title                      0
Review Text                0
Rating                     0
Recommended IND            0
Positive Feedback Count    0
Division Name              0
Department Name            0
Class Name                 0
dtype: int64

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [38]:
# Keep an eye out for outliers!
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3-Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]
print(outliers)

       Unnamed: 0  Clothing ID  Age                         Title  \
95             95          863   83              Casual elegance!
234           234          840   83        Pretty but runs large!
277           277          868   83              Sooooooooo cute!
628           628         1059   80             Please restock!!!
659           659          252   93                 Amazing suit!
...           ...          ...  ...                           ...
22640       22640         1094   80             Fantastic product
22716       22716         1087   87                      No Title
22773       22773          949   83              Scottish classic
23001       23001          298   83  Beautiful twist on a classic
23033       23033          868   86                  Loved these!

                                             Review Text  Rating  \
95     Purchased this top online, and when i received...       5
234    I ordered this top in my usual size and am exc...       5
277    Love this top!\nit is a full/ swing top, but t...       5
628    These sold out in my size 16 before i even kne...       5
659    This is by far the cutest, most glamorous one ...       5
...                                                  ...     ...
22640  This arrived today and i am thrilled with it. ...       5
22716  This dress fits great and is very warm for the...       4
22773  Received this jacket yesterday...and it is lov...       5
23001  I found this top to be very beautiful and well...       5
23033  I saw online and bought in white and moss! mos...       5

       Recommended IND  Positive Feedback Count   Division Name  \
95                   1                       14         General
234                  1                        0         General
277                  1                        1         General
628                  1                        6         General
659                  1                        3       Initmates
...                ...                      ...             ...
22640                1                        8  General Petite
22716                1                        0  General Petite
22773                1                        0         General
23001                1                        3  General Petite
23033                1                        8         General

      Department Name Class Name
95               Tops      Knits
234              Tops    Blouses
277              Tops      Knits
628           Bottoms      Pants
659          Intimate       Swim
...               ...        ...
22640         Dresses    Dresses
22716         Dresses    Dresses
22773            Tops   Sweaters
23001        Intimate     Lounge
23033            Tops      Knits

[109 rows x 11 columns]

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [ ]:
# Make your notes here:
# I used the statistical formula for finding outliers. This technique is effective because it is a robust way to figure out outliers. 
# But I'm not sure, if I could call people of certain age groups as outliers in this dataset?

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplicate column. Check out the dataset to see if there is any unnecessary data.

In [39]:
# Look out for unnecessary data!
df=df.drop('Review Text', axis=1)

In [40]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,No Title,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,No Title,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,5,1,6,General,Tops,Blouses

Did you find any unnecessary data in your dataset? How did you handle it?

In [ ]:
# Make your notes here.
#yes, the review text is unnecessary because it does not add much to analysis compared to the rating given by the customer. So, I dropped that column

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [42]:
df.duplicated().sum()

np.int64(0)

In [41]:
# Look out for inconsistent data!
df.nunique()

Unnamed: 0                 23486
Clothing ID                 1206
Age                           77
Title                      13994
Rating                         5
Recommended IND                2
Positive Feedback Count       82
Division Name                  4
Department Name                7
Class Name                    21
dtype: int64

In [43]:
df.describe()

,Unnamed: 0,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,11742.500000,918.118709,43.198544,4.196032,0.822362,2.535936
std,6779.968547,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,0.000000,18.000000,1.000000,0.000000,0.000000
25%,5871.250000,861.000000,34.000000,4.000000,1.000000,0.000000
50%,11742.500000,936.000000,41.000000,5.000000,1.000000,1.000000
75%,17613.750000,1078.000000,52.000000,5.000000,1.000000,3.000000
max,23485.000000,1205.000000,99.000000,5.000000,1.000000,122.000000

In [44]:
df['Division Name'].unique()

array(['Initmates', 'General', 'General Petite', 'No Division'],
      dtype=object)

In [48]:
df['Division Name'] = df['Division Name'].replace('Initmates', 'Intimates')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,No Title,4,1,0,Intimates,Intimate,Intimates
1,1,1080,34,No Title,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,5,1,6,General,Tops,Blouses

In [49]:
df['Division Name'].unique()

array(['Intimates', 'General', 'General Petite', 'No Division'],
      dtype=object)

In [45]:
df['Department Name'].unique()

array(['Intimate', 'Dresses', 'Bottoms', 'Tops', 'Jackets', 'Trend',
       'No Dept.'], dtype=object)

In [46]:
df['Class Name'].unique()

array(['Intimates', 'Dresses', 'Pants', 'Blouses', 'Knits', 'Outerwear',
       'Lounge', 'Sweaters', 'Skirts', 'Fine gauge', 'Sleep', 'Jackets',
       'Swim', 'Trend', 'Jeans', 'Legwear', 'Shorts', 'Layering',
       'Casual bottoms', 'No Class Name', 'Chemises'], dtype=object)

Did you find any inconsistent data? What did you do to clean it?

In [ ]:
# Make your notes here!
# I saw that there was typo in the Division Name column, and I replaced that with correct spelling. Other than that, I did not find any inconsistencies.